[D-BUS Service]
Name=org.webosarchive.otaready.service
Exec=/usr/bin/run-js-service -n /media/cryptofs/apps/usr/palm/services/org.webosarchive.otaready.service
